@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(190, 172, 149);
}

header {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

header h1 {
    color: #00ffaa;
    font-size: 2.5em;
    text-shadow: 2px 2px #00a06b;
}

header p {
    color: white;
    text-decoration: underline rgb(155, 155, 155);
}

article {
    padding: 20px;
    margin: auto;
    background-color: white;
    max-width: 600px;
    border-radius: 20px;
    margin: 20px;
}

article h2 {
    margin: 5px;
    color: rgb(0, 175, 0);
}

article p {
    padding: 5px;
    
}

article aside {
    margin: 10px;
    color: rgb(0, 216, 11);
}